<!-- TOP NAV -->
<div class="page-header navbar navbar-fixed-top compensate-for-scrollbar">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="/">
                <img src="/logo.svg" alt="{{.Title}}" id="logo" width="50" height="50" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>

        <button class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span></span>
        </button>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default" style="display: none;" id="badgeBell"> </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="bellDefault" class="external">
                            <h3>
                                No notifications
                            </h3>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 220px;" data-handle-color="#637283">
                                <li id="infoNewVersion" style="display: none;">
                                    <a href="javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-warning"></i>
                                            </span>
                                            New version: Removed the 'Password of the application' popup on the Wi-Fi settings & Fixed minor bugs.
                                        </span>
                                    </a>
                                </li>
                                <li id="infoAndroid10" style="display: none;">
                                    <a href="javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-warning"></i>
                                            </span>
                                            Limitations Android 10!
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown dropdown-user">
                    <a href="/features/" class="dropdown-toggle" style="padding-right: 6px; padding-left: 6px;">
                        <i class="icon-screen-smartphone"></i> &nbsp;
                        <span class="username">Device Target &nbsp; </span>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/account/" class="dropdown-toggle myMenu">
                        <i class="icon-user"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/features/" class="dropdown-toggle myMenu">
                        <i class="fa fa-cogs"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/plans/" class="dropdown-toggle myMenu">
                        <i class="fa fa-shopping-basket"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/" class="dropdown-toggle myMenu">
                        <i class="icon-logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- TOP NAV -->




<!-- SIDE NAV -->

<div class="clearfix"> </div>
<div class="page-container">
<div class="page-sidebar-wrapper">
   <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
         <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler">
               <span></span>
            </div>
         </li>
         {{ $current := . }}
         {{ range .Site.Menus.home }}
         {{ $active := or (eq $.RelPermalink .URL) (or ($current.HasMenuCurrent "home" .) ($current.IsMenuCurrent "home" .)) }}
         {{if .HasChildren }}
         <li class="nav-item {{ if $active }}active open {{ end }}">
            <a class="nav-link nav-toggle" href="javascript:;">
            <i class="{{ .Pre }}"></i>
            <span class="title">{{.Name}}</span>
            <span class="arrow"></span>
            <span class="selected"></span>
            </a>
            <ul class="sub-menu">
               {{ range .Children }}
               <li class="nav-item {{ if or (eq $current.RelPermalink .URL) (eq $current.Parent.Name .Name) }}active open {{ end }}">
                  <a href="{{ .URL }}" class="nav-link ">
                  <i class="{{ .Pre }}"></i>
                  <span class="title">{{ .Name }}</span>
                  </a>
               </li>
               {{ end }}
            </ul>
         </li>
         {{ else }}
         <li class="nav-item {{ if $active }}active{{ end }}">
            <a class="nav-link" href="{{.URL | relURL}}">
              <i class="{{ .Pre }}"></i>
              <span class="title">{{.Name}}</span>
              <span class="selected"></span>
            </a>
         </li>
         {{ end }}
         {{ end }}
      </ul>
   </div>
</div>
<!-- SIDE NAV -->