<!-- TOP NAV -->
<div class="page-header navbar navbar-fixed-top compensate-for-scrollbar">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="/">
                <img src="/logo.svg" alt="{{.Title}}" id="logo" width="50" height="50" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>

        <button class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span></span>
        </button>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default" style="display: none;" id="badgeBell"> </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="bellDefault" class="external">
                            <h3>
                                No notifications
                            </h3>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 220px;" data-handle-color="#637283">
                                <li id="infoNewVersion" style="display: none;">
                                    <a href="javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-warning"></i>
                                            </span>
                                            New version: Removed the 'Password of the application' popup on the Wi-Fi settings & Fixed minor bugs.
                                        </span>
                                    </a>
                                </li>
                                <li id="infoAndroid10" style="display: none;">
                                    <a href="javascript:;">
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-warning"></i>
                                            </span>
                                            Limitations Android 10!
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown dropdown-user">
                    <a href="/features/" class="dropdown-toggle" style="padding-right: 6px; padding-left: 6px;">
                        <i class="icon-screen-smartphone"></i> &nbsp;
                        <span class="username">Device Target &nbsp; </span>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/account/" class="dropdown-toggle myMenu">
                        <i class="icon-user"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/features/" class="dropdown-toggle myMenu">
                        <i class="fa fa-cogs"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/plans/" class="dropdown-toggle myMenu">
                        <i class="fa fa-shopping-basket"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="/" class="dropdown-toggle myMenu">
                        <i class="icon-logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- TOP NAV -->




<!-- SIDE NAV -->

<div class="clearfix"> </div>
<div class="page-container">
<div class="page-sidebar-wrapper">
   <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
         <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler">
               <span></span>
            </div>
         </li>
         {{ $current := . }}
         <li class="nav-item{{ if .IsHome }} active{{ end }}">
            <a class="nav-link" href="/">
              <i class="icon-home"></i>
              <span class="title">Dashboard</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/sms/" }} active{{ end }}">
            <a class="nav-link" href="/sms/">
              <i class="icon-envelope"></i>
              <span class="title">SMS</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/mms/" }} active{{ end }}">
            <a class="nav-link" href="/mms/">
              <i class="fa fa-file-image-o"></i>
              <span class="title">MMS</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/calls/" }} active{{ end }}">
            <a class="nav-link" href="/calls/">
              <i class="fa fa-phone"></i>
              <span class="title">Calls</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/locations/" }} active{{ end }}">
            <a class="nav-link" href="/locations/">
              <i class="icon-map"></i>
              <span class="title">Location</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/pictures/" }} active{{ end }}">
            <a class="nav-link" href="/pictures/">
              <i class="icon-picture"></i>
              <span class="title">Pictures</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/applications/" }} active{{ end }}">
            <a class="nav-link" href="/applications/">
              <i class="icon-game-controller"></i>
              <span class="title">Applications</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/calendar/" }} active{{ end }}">
            <a class="nav-link" href="/calendar/">
              <i class="fa fa-calendar"></i>
              <span class="title">Calendar</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/contact/" }} active{{ end }}">
            <a class="nav-link" href="/contact/">
              <i class="icon-notebook"></i>
              <span class="title">Contacts</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/sites/" }} active{{ end }}">
            <a class="nav-link" href="/sites/">
              <i class="fa fa-chrome"></i>
              <span class="title">Site Web</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/screenshot/" }} active{{ end }}">
            <a class="nav-link" href="/screenshot/">
              <i class="fa fa-binoculars"></i>
              <span class="title">Screenshot</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/instan-messaging-root/" }} active{{ end }}">
            <a class="nav-link" href="/instan-messaging-root/">
              <i class="icon-eye"></i>
              <span class="title">Instan Messaging (ROOT)</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/instan-messaging/" }} active{{ end }}">
            <a class="nav-link" href="/instan-messaging/">
              <i class="icon-eye"></i>
              <span class="title">Instan Messaging</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/remote/" }} active{{ end }}">
            <a class="nav-link" href="/remote/">
              <i class="fa fa-cloud"></i>
              <span class="title">Remote Control</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/live/" }} active{{ end }}">
            <a class="nav-link" href="/live/">
              <i class="fa fa-video-camera"></i>
              <span class="title">Live Viewing</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/file-explorer/" }} active{{ end }}">
            <a class="nav-link" href="/file-explorer/">
              <i class="icon-folder-alt"></i>
              <span class="title">File Explorer</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/schedule-restriction/" }} active{{ end }}">
            <a class="nav-link" href="/schedule-restriction/">
              <i class="fa fa-lock"></i>
              <span class="title">Schedule restriction</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/sms-command/" }} active{{ end }}">
            <a class="nav-link" href="/sms-command/">
              <i class="fa fa-send"></i>
              <span class="title">SMS Commands</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/stats/" }} active{{ end }}">
            <a class="nav-link" href="/stats/">
              <i class="fa fa-pie-chart"></i>
              <span class="title">Statistics</span>
              <span class="selected"></span>
            </a>
         </li>
         <li class="nav-item{{ if eq .URL "/account/" }} active{{ end }}">
            <a class="nav-link" href="/account/">
              <i class="icon-user"></i>
              <span class="title">My Account</span>
              <span class="selected"></span>
            </a>
         </li>
      </ul>
   </div>
</div>
<!-- SIDE NAV -->