<!--- Navigation --->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/logo.svg" alt="{{ .Title }}" height="50" width="50"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {{ range .Site.Data.navigation.links }}
                <li class="nav-item {{ if .highlight }}highlight{{ end }}">
                    <a class="nav-link" href="{{ .link }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
  
        <a class="btn btn-success" href="/download/">DOWNLOAD APK</a>
       
    </div>
</nav>