{{ $tipe1 := index (.tipe_series) 0}}
{{ $tipe2 := index (.tipe_series) 1}}


{{ $rilis := .released }}
{{ $rilis := replace $rilis "Released" "Rilis" }}


{{ $rilis := replace $rilis "January" "Januari" }}
{{ $rilis := replace $rilis "May" "Mei" }}
{{ $rilis := replace $rilis "February" "Febuari" }}
{{ $rilis := replace $rilis "March" "Maret" }}
{{ $rilis := replace $rilis "June" "Juni" }}
{{ $rilis := replace $rilis "July" "Juli" }}
{{ $rilis := replace $rilis "August" "Agustus" }}
{{ $rilis := replace $rilis "October" "Oktober" }}
{{ $rilis := replace $rilis "December" "Desember" }}





<tr class="mb-5">
<td>
    <img src="https://amwvhnslqo.cloudimg.io/v7/{{.thumbnail_path}}?h=120&w=90" width="90" height="120">
    
    {{ if $tipe1 }}
    <strong>{{ $tipe1 }}</strong>
    {{ end }}

    {{ if $tipe2 }}
    <strong>{{ $tipe2 }}</strong>
    {{ end }}
</td>

{{ if $rilis }}
<td class="table-success">{{ $rilis }}</td>
{{ else }}
<td class="table-success">-</td>
{{ end }}


{{ if .chipset }}
<td>{{ .chipset }}</td>
{{ else }}
<td>-</td>
{{ end }}


{{ if .gpu }}
<td class="table-success">{{ .gpu }}</td>
{{ else }}
<td class="table-success">-</td>
{{ end }}


{{ if .os }}
<td>{{ .os }}</td>
{{ else }}
<td>-</td>
{{ end }}


{{ if .battery_capacity }}
<td class="table-success">{{ .battery_capacity }}</td>
{{ else }}
<td class="table-success">-</td>
{{ end }}


</tr>