
<aside class="col-lg-4 mb-5">
    <div class="widget">
        
        <!--
        <div class="text-center mt-5 mb-5">
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4919400654126330"
                 data-ad-slot="4760401617"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        
        <div class="panel panel-success text-center mt-5 mb-5">
            <div style="padding-top:30px" class="panel-body">
                <p>Silahkan masukan e-mail anda untuk mendapatkan kiriman artikel terbaru </p>
                <form action="//web.us16.list-manage.com/subscribe/post?u=2db5afa874afda2944b6ae55e&amp;id=9cfd61066f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                    <div class="input-group">
                        <label for="email">
                            BERLANGGANAN GRATIS!
                        </label>
                        <p>~~~~</p>
                        <input id="email" name="email" autocomplete="on" class="required email form-control" placeholder="E-mail" type="text" required="">
                        <p>Jangan lupa lakukan Konfirmasi melalui link Aktivasi yang kami kirimkan ke email Anda!</p>                        
                    </div>
                    <input type="submit" value="Subscribe Now!" name="subscribe" class="btn btn-danger btn-lg">
                </form>
            </div>
        </div>
        -->


        <header class="page-header mt-5">
            <h2>Paling Populer</h2>
        </header>
        <hr class="my-4">
        {{ range first 5 (where .Site.RegularPages "Section" "konten") }}

            {{ $caption := .Title | lower }}
            {{ $replacere := replaceRE "[^a-zA-Z\\s]" "" $caption }}
            {{ $trim := trim $replacere " " }}
            {{ $split := split $trim "  " | first 3 }}
            {{ $alt := delimit $split " " }}
            
            <div class="block-21 mb-4 d-flex">
                <img class="blog-img mr-4" src="https://amwvhnslqo.cloudimg.io/v7/{{.Params.thumbnail | absURL }}?p=thumbnail" width="110" height="110" alt="{{- $alt -}}">
                <div class="text">
                    <h2 class="h6"><a href="{{.Permalink}}">{{.Title}}</a></h2>
                    <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:01" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
                </div>
            </div>
        {{ end }}




        <header class="page-header mt-5">
            <h2>Tagar</h2>
        </header>
        <hr class="my-4">
        
        {{ $taxo := "tags" }}
        <div class="tagcloud">
            {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
            {{ range .Pages }}
            <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
            {{ end }}
        </div>
    </div>
</aside>